.site-header-content .author-profile-image {
    z-index: 10;
    flex-shrink: 0;
    margin: 0 0 20px 0;
    width: 100px;
    height: 100px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 6px;
}

.site-header-content .author-bio {
    z-index: 10;
    flex-shrink: 0;
    margin: 5px 0 10px 0;
    max-width: 600px;
    font-size: 2rem;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

.site-header-content .author-meta {
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    font-family: Georgia, serif;
    font-style: italic;
}

.site-header-content .author-location svg {
    height: 1.9rem;
    stroke: #fff;
}

.site-header-content .bull {
    display: inline-block;
    margin: 0 12px;
    opacity: 0.5;
}

.site-header-content .social-link:first-of-type {
    padding-left: 4px;
}

@media (max-width: 500px) {
    .site-header-content .author-bio {
        font-size: 1.8rem;
        line-height: 1.15em;
        letter-spacing: 0;
    }
    .author-location,
    .author-stats {
        display: none;
    }
}

.site-authors {
    .author-meta {
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            .social-link {
                justify-content: left;
            }

            svg {
                margin-right: 1em;
            }
        }
    }

    .author-card {
        @extend .post-card;

        align-items: flex-start !important;
        padding: 1em;
        min-height: 50px;

        .author-card-content {
            @extend .post-card-content;
        }

        .social-link {
            color: $darkgrey;

            svg {
                fill: $darkgrey;
            }
        }
    }
}
