@use "sass:color";

@media (prefers-color-scheme: dark) {
    body {
        background: color.adjust($darkgrey, $lightness: -5%);
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-card {
        background: $darkmode center center;
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-card-content-link,
    .post-full-content a {
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-template .site-main,
    .page-template .site-main {
        background: color.adjust($darkgrey, $lightness: -5%);
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-full-meta {
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-full-title {
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-full-content {
        background: $darkmode;
    }

    .post-full-content h1,
    .post-full-content h2,
    .post-full-content h3,
    .post-full-content h4,
    .post-full-content h5,
    .post-full-content h6 {
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .post-image-attribution {
        background: color.adjust($darkmode, $lightness: -10%);
    }

    .post-full-content code {
        color: $whitegrey;
        background: color.adjust($darkmode, $lightness: -10%);
    }

    .post-full-content strong,
    .post-full-content em {
        color: color.adjust($midgrey, $lightness: 30%);
    }

    .author-card-name a {
        color: color.adjust($midgrey, $lightness: 30%);
    }
}
