---
layout: page
current: viewers
title: Viewers
navigation: true
class: page-template
subclass: 'post page'
---

<p>At the SUB we are working towards creating generic viewers for defined APIs.</p>
<p>We developed <a href="/viewers/tify.html">TIFY</a> as IIIF viewer and <a href="https://subugoe.github.io/tido/" rel="noopener">TIDO</a> as viewer for the
    <a href="https://textapi.sub.uni-goettingen.de/" rel="noopener">Text API</a>.
