---
layout: page
current: tido
title: TIDO
navigation: true
logo: 'assets/images/ghost.png'
class: page-template
subclass: 'post page'
---


<script id="tido-config" type="application/json">
 {
   "entrypoint": "https://subugoe.pages.gwdg.de/emo/backend/sampledata/collection.json",
   "annotations": {
       "types": [
         {
           "content-type": "Person",
           "icon": "fasUser",
           "label": "Names"
         },
         {
           "content-type": "Place",
           "icon": "fasMapMarkerAlt",
           "label": "Places"
         },
         {
           "content-type": "Editorial Comment",
           "icon": "fasComment",
           "label": "Comments"
         }
       ]
     },
     "colors": {
       "primary": "",
       "secondary": "",
       "accent": ""
     },
     "headers": {
       "all": true,
       "info": true,
       "navigation": true,
       "panelheadings": true,
       "toggle": true
     },
     "labels": {
       "item": "Sheet",
       "manifest": "Manuscript"
     },
     "meta": {
       "collection": {
         "all": true
       },
       "manifest": {
         "all": true
       },
       "item": {
         "all": true
       }
   },
     "panels": [
       {
         "connector": [1, 2],
         "panel_label": "Contents & Meta",
         "show": true,
         "toggle": true
       },
       {
         "connector": [3],
         "panel_label": "Image",
         "show": true,
         "toggle": true
       },
       {
         "connector": [4],
         "panel_label": "Text",
         "show": true,
         "toggle": true
       },
       {
         "connector": [5],
         "panel_label": "Annotations",
         "show": true,
         "toggle": true
       }
     ],
     "rtl": false,
     "lang": "en-us",
     "standalone": true
   }  </script>
<div id=q-app></div>
