---
layout: page
current: tify
title: TIFY
navigation: true
logo: 'assets/images/ghost.png'
class: page-template
subclass: 'post page'
---
<h2>TIFY - Our IIIF Viewer</h2>

<p>For more information and a comprehensive demonstration, visit <a href="https://tify.rocks/" rel="noopener">https://tify.rocks/</a></p>


<script src="https://cdn.jsdelivr.net/npm/tify@0.31.0/dist/tify.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tify@0.31.0/dist/tify.css">

<div id="tify" style="height: 640px"></div>
<script>
new Tify({
  container: '#tify',
  manifestUrl: 'https://manifests.sub.uni-goettingen.de/iiif/presentation/PPN647751801/manifest',
})
</script>
