<nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.baseurl }}authors/{{ page.author }}" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            <a class="newer-posts" href="{{ site.baseurl }}authors/{{ page.author }}/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Page {{ paginator.page }} of {{ paginator.total_pages }} </span>
    {% if paginator.next_page %}
        <a class="older-posts" href="{{ site.baseurl }}authors/{{ page.author }}/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
    {% endif %}
</nav>
