<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
            {% if site.logo_dark %}
                <img style="filter: brightness(0%);" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
    {% for pageauthor in page.author %}
      {% for author in site.data.authors %}
          {% if author[1].username == pageauthor %}
            <div class="floating-header-share-label">Share this {% include point.html %}</div>
            <a class="floating-header-share-tw" href="https://twitter.com/share?text={{ page.title | url_encode }}%20@{{ author[1].twitter }}&amp;url={{ site.production_url }}{{ page.url | remove_first: '/' }}"
                onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
                {% include twitter.html %}
            </a>
            <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url | remove_first: '/' }}"
                onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                {% include facebook.html %}
            </a>
          {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
