<footer class="site-footer outer">
    <!-- The footer at the very bottom of the screen -->
    <div class="site-footer-content inner">
        <section class="copyright">
            <a href="https://www.sub.uni-goettingen.de">SUB Göttingen</a> &copy; {{ site.time | date: '%Y' }}
            |
            <a class="cc-by-4" href="https://creativecommons.org/licenses/by/4.0/"><img
                    width="20" height="20" src="{{ site.baseurl }}assets/images/cc.svg" alt="Logo for CC-License"/><img
                    src="{{ site.baseurl }}assets/images/by.svg" width="20" height="20" alt="Logo for CC-BY License"/></a>
            <br/>
            <a href="https://www.sub.uni-goettingen.de/impressum/">Imprint</a>
            <br/>
            <a href="https://subugoe.github.io/scholcomm_analytics/" rel="noopener">Scholarly Communication
                Analytics</a>
        </section>
        <section class="poweredby">Published with <a href="https://jekyllrb.com/">Jekyll</a>. Theme based on <a href="https://github.com/myJekyll/jasper2">Jasper2</a></section>
        <nav class="site-footer-nav">
            <a href="{{ site.baseurl }}">Latest Posts</a>
            {% if site.rogue.enabled %}<a href="https://rogue-scholar.org/blogs/{{ site.rogue.id }}" rel="noopener">The Rogue Scholar</a>{% endif %}
        </nav>
    </div>
</footer>
