<ul class="nav" role="menu">
{% for item in site.data.navigation %}
    <li class="nav-{{item.name | downcase}}" role="menuitem">
        <a href="{{ item.link }}" {% if page.url == item.link %}style="font-weight: bold;"{% endif %}>
        {{ item.name }}
        </a>
    </li>
{% endfor %}
</ul>
