/* Variables
/* ---------------------------------------------------------- */

@use "sass:color";

/* Colours */
$blue: #1c71d8;
$author: #1c71d8;
$green: #a4d037;
$purple: #ad26b4;
$yellow: #fecd35;
$red: #f05230;
$darkgrey: #15171A;
$midgrey: #77767b;
$lightgrey: #c5d2d9;
$whitegrey: #e5eff5;
$pink: #fa3a57;
$brown: #a3821a;
$darkmode: color.scale(#15171A, $lightness: 2%);
