---
layout: default
current: authors
class: 'all-authors'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<!-- #tag -->
<header class="site-header outer {% if cover or page.cover %}"
        style="background-image: url({{ site.baseurl }}{% if cover %}{{ cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav.html %}
        <div class="site-header-content">
            <h1 class="site-title">Authors</h1>
            <h2 class="site-description">All authors of this blog.</h2>
        </div>
    </div>
</header>
<!-- tag -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="site-authors">
            {% assign author_data = site.data.authors %}
            {% capture authors_list %}{% for author in site.data.authors %}|{{ author[0] }}{% endfor %}{% endcapture %}
            {% assign sorted_authors = authors_list | split: '|' | sort_natural %}

            {% for author in sorted_authors %}
                {% comment  %}
                    check if authors have posted something
                {% endcomment %}
                {% for post in site.posts %}
                    {% if post.author contains author %}
                    {% assign has_posted = True %}
                        {% break %}
                    {% else %}
                        {% assign has_posted = false %}
                    {% endif %}
                {% endfor %}
                {% if author != "team" and author != '' and has_posted == True %}
                <div class="author-card author-{{ author }}">
                    <div class="author-card-content">
                        <header class="author-card-header">
                            <h2 class="author-card-title">
                                {% if author_data[author].image %}
                                <img class="author-profile-image"
                                     src="{{ site.baseurl }}assets/images/authors/{{ author_data[author].image }}"
                                     alt="{{ page.author }}"/>
                                {% elsif author.gravatar %}
                                <img class="author-profile-image"
                                     src="https://www.gravatar.com/avatar/{{ author_data[author].gravatar }}"
                                     alt="{{ page.author }}"/>
                                {% endif %} {{ author_data[author].name }}</h2>
                        </header>
                        <div class="author-meta">
                            <ul>
                                {% if author_data[author].url_sub %}
                                <li><a class="social-link social-link-wb" href="{{ author_data[author].url_sub }}"
                                       rel="noopener">{% include website.html %} {{ author_data[author].url_sub }}</a>
                                    {% endif %}
                                    {% if author_data[author].url %}
                                <li><a class="social-link social-link-wb" href="{{ author_data[author].url }}"
                                       rel="noopener">{% include website.html %} {{ author_data[author].url }}</a>
                                    {% endif %}
                                    {% if author_data[author].twitter %}
                                <li><a class="social-link social-link-tw" href="https://twitter.com/{{ author_data[author].twitter }}"
                                       rel="noopener">{% include twitter.html %} {{ author_data[author].twitter }}</a>
                                    {% endif %}
                            {% if author_data[author].orcid %}
                            <li><a class="social-link social-link-orcid" href="https://orcid.org/{{ author_data[author].orcid }}"
                                   rel="noopener">{% include orcid.html %} {{ author_data[author].orcid }}</a>
                                {% endif %}
                            </ul>
                        </div>
                        <div>
                            <p><a href="{{ site.baseurl }}authors/{{author}}">All posts from {{ author_data[author].name }}</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
