---
layout: default
current: author
title: Author Page
cover: false
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/ghost.png'
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- #author  -->
<!-- Everything inside the #author tags pulls data from the author -->
{% for pageauthor in page.author %}
    {% for author in site.data.authors %}
        {% if author[1].username == pageauthor %}
        <header class="site-header outer {% if author[1].cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if author[1].cover %}{{ author[1].cover }}{% elsif page.cover %}{{ page.cover }}{% endif %}) {% else %}no-cover{% endif %}">
            <div class="inner">
                {% include site-nav.html %}
                <div class="site-header-content">
                    {% if author[1].image %}
                        <img class="author-profile-image" src="{{ site.baseurl }}assets/images/authors/{{ author[1].image }}" alt="{{ pageauthor }}" />
                    {% elsif author[1].gravatar %}
                        <img class="author-profile-image" src="https://www.gravatar.com/avatar/{{ author[1].gravatar }}" alt="{{ pageauthor }}" />
                    {% endif %}
                    <h1 class="site-title">{{ author[1].name }}</h1>
                    {% if author[1].bio %}
                        <h2 class="author-bio">{{ author[1].bio }}</h2>
                    {% endif %}
                    <div class="author-meta">
                        {% if author[1].location %}
                            <div class="author-location">{{ author[1].location }} <span class="bull">&bull;</span></div>
                        {% endif %}
                        <div class="author-stats">
                            {% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %} <span class="bull">&bull;</span>
                        </div>
                        {% if author[1].url_sub %}
                            <a class="social-link social-link-wb" href="{{ author[1].url_sub }}" target="_blank" rel="noopener"><img class="url-sub-image" src="{{ site.url }}{{ site.baseurl }}assets/images/sub-goettingen-white-small.svg"/></a>
                        {% endif %}
                        {% if author[1].url %}
                            <a class="social-link social-link-wb" href="{{ author[1].url }}" target="_blank" rel="noopener">{% include website.html %}</a>
                        {% endif %}
                        {% if author[1].twitter %}
                            <a class="social-link social-link-tw" href="https://twitter.com/{{ author[1].twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        {% endif %}
    {% endfor %}
{% endfor %}
<!-- /author -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>

    </div>
</main>
