.post-full-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3vw 0 6vw 0;
  max-width: 840px;
}

.doi-card-doi-link {
  .dor-card-doi-logo {
    height: 1.6rem;
    filter: grayscale(100%);
  }

  &:hover {
    img {
      filter: grayscale(0);
    }
  }

}

.author-card, .doi-card {
  display: flex;
  align-items: center;

  .author-profile-image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }

  .author-card-content, .doi-card-content {
    p {
      margin: 0;
      color: $midgrey;
      line-height: 1.3em;
    }
  }
}

.author-card-name {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 2rem;
}

.author-card-name a {
  color: $darkgrey;
  font-weight: 700;
}

.author-card-name a:hover {
  text-decoration: none;
}


.post-full-footer-right {
  flex-shrink: 0;
  margin-left: 20px;
}

.author-card-button {
  display: block;
  padding: 9px 16px;
  border: scale-color($midgrey, $lightness: 20%) 1px solid;
  color: $midgrey;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  border-radius: 20px;
  transition: all ease 0.2s;
}

.author-card-button:hover {
  border-color: $blue;
  color: $blue;
  text-decoration: none;
}
